@font-face {
    font-family: 'Special Gothic';
    src: url('../fonts/SpecialGothicExpandedOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Azeret Mono';
    src: url('../fonts/AzeretMono-Regular.ttf') format('truetype');
}


.container_pagina{
    background-color: white;
    max-width: 1400px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 100px;
    padding-top: 70px;
}

.titulo1_pagina{
    font-family: 'Special Gothic';
    font-size: 100px;
    text-align: top;
    text-align: left;
    color: black;
    padding-bottom: 40px;
}

.titulo2_pagina{
    font-family: 'Special Gothic';
    font-size: 62px;
    text-align: top;
    text-align: left;
    color: black;
    padding-bottom: 40px;
    padding-top: 60px;
}

.animation_titulo {
    font-family: 'Special Gothic';
    font-size: 100px;
    color: #fe0000;
}

.texto{
    font-family: 'Azeret Mono';
    font-size: 24px;
    text-align: top;
    text-align: left;
    color: black;
    padding-bottom: 20px;
}

.textbutton{
  font-family: 'Azeret Mono', monospace;
  font-size: 20px;
  color: white;
  background-color: #fe0000;
  border-radius: 0px;
}

.textbutton:hover{
    transition: 0s;
    color: white;
    background-color: black;
}