@font-face {
    font-family: 'Special Gothic';
    src: url('../fonts/SpecialGothicExpandedOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Azeret Mono';
    src: url('../fonts/AzeretMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Azeret Mono';
    src: url('../fonts/AzeretMono-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Azeret Mono';
    src: url('../fonts/AzeretMono-Bold.ttf') format('truetype');
    font-weight: 700;
}

body{
    overflow-x: hidden;
}

.container_pagina{
    background-color: white;
    max-width: 1400px;
    padding-left: 140px;
    padding-bottom: 100px;
    padding-top: 70px;
}

.titulo1_pagina{
    font-family: 'Special Gothic';
    font-size: 100px;
    text-align: top;
    text-align: left;
    color: black;
}

.titulo2_pagina{
    font-family: 'Special Gothic';
    font-size: 62px;
    text-align: top;
    text-align: left;
    color: black;
    padding-bottom: 40px;
    padding-top: 60px;
}

.titulo3_pagina{
    font-family: 'Special Gothic';
    font-size: 50px;
    text-align: center;
    color: black;
    padding-bottom: 20px;
}

.jam_titulo {
    font-family: 'Special Gothic';
    font-size: 100px;
}

.jam_titulo-animation {
    color: #fe0000;
}

.jam_titulo-video {
    color: #AB31AA;
}

.jam_titulo-photo{
    color: #22B751;
}

.jam_titulo-game{
    color: #0F60FF;
}

.texto{
    font-family: 'Azeret Mono';
    font-size: 24px;
    text-align: top;
    text-align: left;
    color: black;
    padding-bottom: 20px;
}

.texto_premios{
    font-family: 'Azeret Mono';
    font-size: 24px;
    text-align: center;
    color: black;
}

.textbutton{
  font-family: 'Azeret Mono', monospace;
  font-size: 20px;
  color: white;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.textbutton:hover{
    transition: 0s;
    color: white;
    background-color: black;
}

.btn-animation{
    background-color: #fe0000;
}

.btn-video{
    background-color: #AB31AA;
}

.btn-photo{
    background-color: #22B751;
}

.btn-game{
    background-color: #0F60FF;
}

.premio-card {
    padding: 15px;
    width: 30%;
    text-align: center;
    background-image: url("../images/quadrado2017_2018_arquivo.svg");
    display: flex;
    flex-direction: column;
}

.premio-card-animation {
    border: 10px solid #fe0000;
}

.premio-card-video {
    border: 10px solid #AB31AA;
}

.premio-card-photo{
    border: 10px solid #22B751;
}

.premio-card-game{
    border: 10px solid #0F60FF;
}

.premio-icons {
    margin-top: auto;
    font-size: 60px;
}

.premio-icons-animation {
    color: #fe0000;
}

.premio-icons-video {
    color: #AB31AA;
}

.premio-icons-photo{
    color: #22B751;
}

.premio-icons-game{
    color: #0F60FF;
}

.linha_divisoria {
    border: none;
    border-top: 10px solid black;
}

.premio-icons i {
    margin: 0 8px;
}

.imagem_jam{
    width: 60%;
    margin-bottom: 50px;
}

.row.cards-row {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;         
  gap: 10px;             
}

.ano_arquivo-card {
    background: white;
    border: 10px solid black;
    width: 230px;
    aspect-ratio: 16/9;
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
}

.texto_ano_arquivo{
    font-family: 'Azeret Mono';
    font-size: 20px;
    color: black;
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#ano2017:hover {
    background-image: url("../images/quadrado2017_2018_arquivo.svg");
}

#ano2018:hover {
    background-image: url("../images/quadrado2017_2018_arquivo.svg");
}

#ano2019:hover {
    background-image: url("../images/quadrado2019_arquivo.svg");
}

#ano2020:hover {
    background-image: url("../images/quadrado2020_arquivo.svg");
}

#ano2021:hover {
    background-image: url("../images/quadrado2021_arquivo.svg");
}

#ano2022:hover {
    background-image: url("../images/quadrado2022_arquivo.svg");
}

#ano2023:hover {
    background-image: url("../images/quadrado2023_arquivo.svg");
}

#ano2024:hover {
    background-image: url("../images/quadrado2024_arquivo.svg");
}

#ano2025:hover {
    background-image: url("../images/quadrado2025_arquivo.svg");
}

.ano_arquivo-card:hover .texto_ano_arquivo {
    color: white;
    background-color: black;
    padding: 10px;
}