@font-face {
    font-family: 'Azeret Mono';
    src: url('../fonts/AzeretMono-Regular.ttf') format('truetype');
}

.pagina_opcao{
  font-family: 'Azeret Mono';
  font-size: 20px;
  color: black;
  font-weight: bold;
  
}

.pagina_opcao:hover{
  color: black;
  text-decoration: underline;
}

.jams_opcao{
  font-family: 'Azeret Mono';
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.jam_pagina_opcao{
  font-family: 'Azeret Mono';
  font-size: 16px;
  color: black;
}

.info_nome_escola{
  font-family: 'Azeret Mono';
  font-size: 16px;
  color: black;
  padding-top: 25px;
  margin-bottom: 0px;
}

.info_morada{
  font-family: 'Azeret Mono';
  font-size: 16px;
  color: black;
  padding-top: 15px;
}

.jam_pagina_opcao:hover{
  color: black;
  text-decoration: underline;
}

.cont-footer{
  max-width: 1200px;
  margin:auto;
}

.row{
  display: flex;
  flex-wrap:wrap;
  margin-top: 140px;
}

ul{
  list-style: none;
}

.footer-col-logotipo{
  width:12%;
}

.footer-col{
  padding-top: 20px;
  width:12%;
}

.footer-col-ultima{
  padding-top: 10px;
  width:28%;
}

#linha_divisoria {
  margin: 0px;
  border: none;
  border-top: 10px solid black;
}

.footer{
  margin-bottom: 140px;
}

.icon_footer{
  color: black;
  font-size: 35px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
}