@font-face {
    font-family: 'Special Gothic';
    src: url('../fonts/SpecialGothicExpandedOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Azeret Mono';
    src: url('../fonts/AzeretMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Azeret Mono';
    src: url('../fonts/AzeretMono-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Azeret Mono';
    src: url('../fonts/AzeretMono-Bold.ttf') format('truetype');
    font-weight: 700;
}

body{
    overflow-x: hidden;
}

.container_pagina{
    background-color: white;
    max-width: 1400px;
    padding-left: 140px;
    padding-bottom: 100px;
    padding-top: 70px;
}

.textbody1{
  font-family: 'Azeret Mono', monospace;
  font-size: 24px;
  color: #000000;
}


.titulo1_pagina{
    font-family: 'Special Gothic';
    font-size: 100px;
    text-align: top;
    text-align: left;
    color: black;
}

.titulo1_open_call{
    font-family: 'Special Gothic';
    font-size: 100px;
    text-align: top;
    text-align: left;
    color: white;
}

.titulo3_pagina{
  font-family: 'Special Gothic';
  font-size: 26px;
}

.titulo_funcionamento_festival{
  margin-bottom: 40px;
  margin-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
}

.coluna_info_evento{
  padding-left: 0px;
  padding-right: 60px;
}

.coluna_info_evento:last-child {
  padding-right: 0;
}

.textbutton{
  font-family: 'Azeret Mono', monospace;
  font-size: 20px;
  font-weight: 700px;
  color: white;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 50px;
  margin-bottom: 60px;
  background-color: #FA5302;
}

.textbutton:hover{
    transition: 0s;
    color: white;
    background-color: black;
}

.premio-grid{
  margin: 0px;
}

.premio-card {
    /* width: 49%;
    text-align: center;

    display: flex;
    flex-direction: column; */
    position: relative;
    width: 49%;
    aspect-ratio: 16/9;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    box-sizing: border-box;
}

.premio-card img {
  max-width: 100%;
}

.premio-card-animation{
  border: 10px solid #fe0000;
}

.premio-card-video{
  border: 10px solid #AB31AA;
}

.premio-card-photo{
  border: 10px solid #22B751;
}

.premio-card-game{
  border: 10px solid #0F60FF;
}

.imagem_hover,
.imagem_base {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity 0.3s ease;
    object-fit: cover;
}

.icon_play_hover {
    position: absolute;
    width: 100px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.imagem_base{
  opacity: 1;
}

.premio-card:hover .imagem_hover {
    opacity: 1;
}

.premio-card:hover .icon_play_hover {
    opacity: 1;
}

.premio-card:hover .imagem_base {
    opacity: 0;
}

.open_call{
  background-image: url('../images/open_call.svg');
}

.container_open_call{
    max-width: 1400px;
    padding-left: 140px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.textbutton_open_call{
  font-family: 'Azeret Mono', monospace;
  font-size: 20px;
  font-weight: 700px;
  color: white;
  border-radius: 0px;
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-content: center;
  margin-top: 130px;
  margin-left: 140px;
  background-color: #000000;
}

.textbutton_open_call:hover{
    transition: 0s;
    color: #000000;
    background-color: white;
}

.coluna1_open_call{
  flex: 2;
}

.coluna2_open_call{
  flex: 1;
}

.patrocinadores{
  background-color: black;
}

.container_patrocinadores{
    max-width: 1400px;
    padding-left: 140px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.texto_patrocinadores{
  font-family: 'Special Gothic';
  font-size: 26px;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
  color: white;
}

.faq{
    background-color: #fdcc00;
}

.container_faq{
    background-color: #fdcc00;
    max-width: 1400px;
    padding-left: 140px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.textbutton_faq{
  font-family: 'Azeret Mono', monospace;
  font-size: 20px;
  color: white;
  border-radius: 0px;
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-content: center;
  margin-top: 165px;
  margin-left: 140px;
  background-color: #000000;
}

.textbutton_faq:hover{
    transition: 0s;
    color: #000000;
    background-color: white;
}

.coluna1_faq{
  flex: 2;
}

.coluna2_faq{
  flex: 1;
}


.stock-ticker{
    font-family: 'Azeret Mono', monospace;
    font-size: 24px;
    padding-block: 8px;
    display: flex;
    overflow: hidden;
    user-select: none;
}

.stock-ticker ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 0px;
    padding: 10px 0px;

    background-color: #FE8F00;
    animation: scroll 20s linear infinite;
}

.stock-ticker .elementos_linha_discord_1{
    margin-inline: 4px;
}

@keyframes scroll {
    to {
        transform: translateX(-100%);
    }    
}

.icon_discord{
    font-size: 27px;
}

.stock-ticker:hover ul{
    animation-play-state: paused;
}
