
@font-face {
    font-family: 'Azeret Mono';
    src: url('../fonts/AzeretMono-Regular.ttf') format('truetype');
}

.textbody1{
  font-family: 'Azeret Mono', monospace;
  font-size: 24px;
}

.textbutton{
  font-family: 'Azeret Mono', monospace;
  font-size: 20px;
}

.bar1, .bar2, .bar3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background: #ffffff;
  transition: all 0.5s ease;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

.informacao{
  margin-top: 5px;
}

.menu_jams{
  cursor: pointer;
}

.menu_jams_opcoes {
  background-color: #ffffff;
  color: #000000;
  border: none;
  margin-left: -10px;
}

.menu_jams_opcoes .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #000000;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.menu_jams_opcoes #opcao_animation_jam:hover,
.menu_jams_opcoes #opcao_animation_jam:focus {
  color: #fe0000;
  text-decoration: underline;
}

.menu_jams_opcoes #opcao_video_jam:hover,
.menu_jams_opcoes #opcao_video_jam:focus {
  color: #ab31aa;
  text-decoration: underline;
}

.menu_jams_opcoes #opcao_game_jam:hover,
.menu_jams_opcoes #opcao_game_jam:focus {
  color: #0f60ff;
  text-decoration: underline;
}

.menu_jams_opcoes #opcao_photo_jam:hover,
.menu_jams_opcoes #opcao_photo_jam:focus {
  color: #22b751;
  text-decoration: underline;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  padding: 0.25rem 0.75rem;
  white-space: nowrap;
}

.navbar-nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .nome_site {
    font-size: 20px;
  }    
}