body{
    overflow-x: hidden;
}

.container_pagina{
    background-color: white;
    max-width: 1400px;
    padding-left: 140px;
    padding-bottom: 100px;
    padding-top: 70px;
}

.titulo1_pagina{
    font-family: 'Special Gothic';
    font-size: 100px;
    text-align: top;
    text-align: left;
    color: black;
}

.modelo_funcionamento{
    background-color: #fdcc00;
    stroke: black;
    stroke-width: 4px;
}