@font-face {
    font-family: 'Special Gothic';
    src: url('../fonts/SpecialGothicExpandedOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Azeret Mono';
    src: url('../fonts/AzeretMono-Regular.ttf') format('truetype');
}

body{
    overflow-x: hidden;
}

.container_pagina{
    background-color: white;
    max-width: 1400px;
    padding-left: 140px;
    padding-bottom: 100px;
    padding-top: 70px;
}

.textbody1{
  font-family: 'Azeret Mono', monospace;
  font-size: 24px;
}

.titulo1_pagina{
    font-family: 'Special Gothic';
    font-size: 100px;
    text-align: top;
    text-align: left;
    color: black;
}

.videoMAD{
    width: 500px;
    overflow: hidden;
    align-self: right;
}

#coluna1{
    flex: 3;
}

#coluna2{
    flex: 1;
}

.info-card {
    position: relative;
    /* padding: 30px; */
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
    width: 30%;
    text-align: center;
    border: 10px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_icon {
    position: absolute;
    top: -45px;
}

.info_icon img {
    width: 90px;
}

.info_participa-card{
    position: relative;
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
    width: 100%;
    text-align: center;
    border: 10px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_jams-card{
    position: relative;
    width: 100%;
    text-align: center;
    border: 10px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modelo_funcionamento{
    background-color: #fdcc00;
    border-bottom: 10px solid black;
    border-top: 10px solid black;
}

.container_modelo{
    background-color: #fdcc00;
    max-width: 1400px;
    padding-left: 140px;
    padding-bottom: 100px;
    padding-top: 70px;
}

.linha_discord{
    background-color: #FE8F00;
    margin-bottom: 130px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.row_linha_discord{
    display: inline-block;
    animation: deslizar 12s linear infinite;
}

@keyframes deslizar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.elementos_linha_discord{
    font-family: 'Azeret Mono', monospace;
    font-size: 24px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.icon_discord{
    font-size: 30px;
    padding-right: 10px;
}

.datas{
    font-weight: bold;
}

.texto_info{
    font-family: 'Azeret Mono';
    font-size: 24px;
    text-align: center;
    color: black;
}

.textbutton{
  font-family: 'Azeret Mono', monospace;
  font-size: 20px;
  color: white;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #FA5302;
}

.textbutton:hover{
    transition: 0s;
    color: white;
    background-color: black;
}

.textbutton_modelo{
  font-family: 'Azeret Mono', monospace;
  font-size: 20px;
  color: white;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #000000;
}

.textbutton_modelo:hover{
    transition: 0s;
    color: black;
    background-color: white;
}

.texto_modelo{
    font-family: 'Azeret Mono';
    font-size: 24px;
    text-align: top;
    text-align: left;
    color: black;
    padding-bottom: 20px;
}

.coluna_modelo{
    padding-left: 0px;
    padding-top: 20px;
    margin-left: -10px;
    padding-right: 55px;
}


.titulo2_historia{
  font-family: 'Special Gothic';
  font-size: 62px;
  margin-bottom: 20px;
}


.textbutton_historia{
  font-family: 'Azeret Mono', monospace;
  font-size: 20px;
  color: white;
  border-radius: 0px;
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-content: center;
  margin-top: 40px;
  background-color: #FA5302;
}

.textbutton_historia:hover{
    transition: 0s;
    color: white;
    background-color: black;
}

.coluna1_historia{
  flex: 1;
}

.coluna2_historia{
  flex: 2;
}

.linha_historia{
    margin-top: 90px;
    margin-bottom: 90px;
}

.linha_divisoria {
    border: none;
    border-top: 10px solid #FA5302;
}

.numero_laranja_historia{
    color: #FA5302;
}

.imagem_historia{
    width: 20%
}

.jam-card {
  position: relative;
  display: flex;
  align-items: center; 
  background-color: white;
  margin-bottom: 40px;
}

.jam-card-animation{
    border: 10px solid #FE0000;
}

.jam-card-video{
    border: 10px solid #AB31AA;
}

.jam-card-photo{
    border: 10px solid #22B751;
}

.jam-card-game{
    border: 10px solid #0F60FF;
}

.jam-card-animation:hover{
    transition: 0s;
    background-color: #FE0000;
    .textbody1_jam{
        color: white;
    }

    .seta_jam_animation,
    .mad_jam_imagem_animation,
    .jam_pattern_imagem_animation{
        filter: brightness(0) invert(1);
    }
}

.jam-card-video:hover{
    transition: 0s;
    background-color: #AB31AA;
    .textbody1_jam{
        color: white;
    }

    .seta_jam_video,
    .mad_jam_imagem_video,
    .jam_pattern_imagem_video{
        filter: brightness(0) invert(1);
    }
}

.jam-card-photo:hover{
    transition: 0s;
    background-color: #22B751;
    .textbody1_jam{
        color: white;
    }

    .seta_jam_photo,
    .mad_jam_imagem_photo,
    .jam_pattern_imagem_photo{
        filter: brightness(0) invert(1);
    }
}

.jam-card-game:hover{
    transition: 0s;
    background-color: #0F60FF;
    .textbody1_jam{
        color: white;
    }

    .seta_jam_game,
    .mad_jam_imagem_game,
    .jam_pattern_imagem_game{
        filter: brightness(0) invert(1);
    }
}

.imagem_logo {
  flex: 0 0 35%;
}

.jam_pattern_imagem_animation {
    margin-left: -15px;
    width: 550px;
    display: block;
}

.jam_pattern_imagem_video {
    margin-right: -15px;
    width: 550px;
    display: block;
}

.jam_pattern_imagem_photo {
    margin-left: -15px;
    width: 550px;
    display: block;
}

.jam_pattern_imagem_game {
    margin-right: -15px;
    width: 550px;
    display: block;
}

.jam_pattern_imagem_animation:hover,
.jam_pattern_imagem_video:hover,
.jam_pattern_imagem_photo:hover,
.jam_pattern_imagem_game:hover {
    transition: 0s;
    fill:white;
}

.texto_info_jam {
  flex: 1;
  padding-left: 30px;
}

.mad_jam_imagem_animation {
  width: 400px;
  margin-bottom: 15px;
  display: block;
}

.mad_jam_imagem_video {
  width: 300px;
  margin-bottom: 15px;
  display: block;
}

.mad_jam_imagem_photo {
  width: 300px;
  margin-bottom: 15px;
  display: block;
}

.mad_jam_imagem_game {
  width: 300px;
  margin-bottom: 15px;
  display: block;
}

.seta_jam_animation {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
}

.seta_jam_video {
  position: absolute;
  top: 20px;
  right: 550px;
  width: 50px;
}

.seta_jam_photo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
}

.seta_jam_game {
  position: absolute;
  top: 20px;
  right: 550px;
  width: 50px;
}

.textbody1_jam {
  font-family: 'Azeret Mono', monospace;
  font-size: 24px;
  color: black;
}

.link_jam:hover{
  text-decoration: none;
}
